{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  
  <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->

<!-- JS, Popper.js, and jQuery
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script> -->
<script src="{% static 'js/jquery-3.5.1.slim.min.js'%}"></script>
<script src="{% static 'js/popper.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/jquery.min.js'%}"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

  <script>
    function signup(){
      console.log("IT work")
      alert("counter updated!");
      var a = document.getElementById("Full_Name").value;
      console.log(a)
    }


  </script>



  {% block css %}
  {% endblock %}

  
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{% url 'home' %}">Nick.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% block home %}{% endblock %}">
          <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        {% comment %} <li class="nav-item {% block profile %}{% endblock %}">
          <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li> {% endcomment %}
        <li class="nav-item {% block profile %}{% endblock %}">
          <a class="nav-link" href="{% url 'findusers' %}">Find People</a>
        </li>
        <li class="nav-item {% block about %}{% endblock %}" >
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item {% block contact %}{% endblock %}">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
      {% if user.is_authenticated %}

      <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false" >
      Welcome {{ request.user }}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'signout' %}">Logout</a>


      </div>
      </li>
      </ul>

      {% else %}
        <button class="btn btn-light  text-dark my-2 my-sm-0" type="button" data-toggle="modal" data-target="#signin"> Sign In</button>
          <button type="button" class="btn btn-light" data-toggle="modal" data-target="#signup">
           Sign Up
          </button>
        {% endif %}
      </form>
    </div>

    <!-- Button trigger modal -->
    




    <!-- Modal -->
    <div class="modal fade" id="signup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="Registration">Registration Form</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="{% url 'signup' %}" method="POST">{% csrf_token %} 
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="last_name" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email">
              </div>
              <div class="form-group">
                <label for="mobile_number">Mobile Number</label>
                <input type="text" class="form-control" id="mobile_number" name="mobile_number" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" id="pass1" name="pass1" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="Password">Confirm Password</label>
                <input type="password" class="form-control" id="pass2" name="pass2"
                  aria-describedby="emailHelp">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="signin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Sign In</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="{% url 'signin' %}" method="POST">{% csrf_token %} 
              <div class="form-group">
                <label for="loginusername">Username</label>
                <input type="text" class="form-control" id="loginusername" name="loginusername">
              </div>
              <div class="form-group">
                <label for="passwd">Password</label>
                <input type="password" class="form-control" id="passwd" name="passwd" aria-describedby="emailHelp">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button> 
            </form>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
  </nav>

  {% block body %} {% endblock %}

  <!-- Footer -->
  <footer class="page-footer font-small bg-dark">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-white">© 2020 Copyright:
      <a href="#"> Nick.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
{% block js %}
{% endblock %}


</body>

</html>