{% extends 'basic.html'%}

{% block css %}
<style>
  .container{
    margin-top: 10px;
    margin-bottom:20px;

  }
  #Description{
    height: 250px;
  }

</style>
{% endblock %}

{% block body %}

{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
<strong>Message :</strong> {{ message }}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span></button>
</div>
{% endfor %}

<div  class="container">
<form action="{% url 'contact' %}" method="POST">{% csrf_token %}
    <div class="form-group">
      <label for="Full Name">Name</label>
      <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="Emaol">Email</label>
      <input type="email" class="form-control" id="email" name="email">
    </div>

    <div class="form-group">
      <label for="Description">Description</label>
      <textarea class="form-control" id="Description" aria-describedby="emailHelp" name="description"></textarea>
    </div>
    <!-- <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>




  {% endblock %}
  {% block contact %}active{% endblock %}