{% extends 'basic.html' %}
{% load static %}
{% load humanize %}
{% block css %}

<style>
  .container {
    margin-top: 30px;
  }

  .jumbotron {
    height: 600px;
  }

  .carousel-inner {
    height: 50%;
  }
</style>
{% endblock %}
{% block home %}active{% endblock %}
{% block body %}

{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>message :</strong> {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
</div>
{% endfor %}

<div class="container">
  <div class="row mb-2">
    {% for i in post %}
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block text-primary"><a href="{% url 'profile' i.user%}">{{i.user}}</a></strong>
          <strong class="d-inline-block ">{{i.title}}</strong>
          <div class="mb-1 text-muted">{{i.publish_date | naturaltime}}</div>
          <img src="/media/{{i.thumbnail}}" class="bd-placeholder-img" width="100%" height="100%">
          {% comment %} <a href="/blogpost/{{i.post_id}}" class="stretched-link">Continue reading</a> {% endcomment %}
          <div class="row">
            <div class="col-md-12">
              {% if i in liked %}
              <button class="btn btn-primary mx-1 my-2 like" id="{{i.post_id}}" name="post_id" value="{{i.post_id}}"> 
              <a href="{% url 'likepost' %}" style=color:white; id="like_text{{i.post_id}}"> Liked</a></button>
             {% else %}
             <button class="btn btn-primary mx-1 my-2 like" id="{{i.post_id}}" name="post_id" value="{{i.post_id}}"> 
              <a href="{% url 'likepost' %}" style=color:white; id="like_text{{i.post_id}}"> Like</a></button>
             {% endif %}

              <button class="btn btn-primary mx-1 my-2">Comment</button>
              <button class="btn btn-primary mx-1 my-2">Share</button>
            </div>
          </div>
        </div>

        <div class="col-auto d-none d-lg-block">
          <!-- <img src="/media/{{i.thumbnail}}" class="bd-placeholder-img" width="200px" height="250px"> -->
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:2 %}
    <div class="row mb-2">
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>


{%  endblock %}



{% block js %}

<script>
$(".like").click(function(e){
var id = this.id;
var href = $('.like').find('a').attr('href');
console.log(href,id)
e.preventDefault();

$.ajax({
  url:href,
  data:{'likeid':id},
  success:function(response)
  {
    console.log(response);
    if(response.liked)
    {
      $('#like_text'+id).html("Liked");
    }
    else
    {
      $('#like_text'+id).html("Like");
    }
  }

})

})

</script>

{% endblock %}